body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  background-color: var(--surface-ground);
  color: var(--text-color);
}

.pre-wrap {
  white-space: pre-wrap;
}

.break-word {
  word-wrap: break-word;
}
